body {
	background: url('../images/background_finished.jpg');
	text-align: center;
	font-family:"Open Sans";
	color: #fff;
}

.container, .type_chooser, .settings{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
}

.container, .settings{
	border-radius: 2px;
	box-shadow: 2px 2px 10px #222;
}

.container{
	color: #fff;
	display:inline-block;
	background: none repeat scroll 0% 0% rgba(10,10,10,0.7);
}

.settings{
	text-align: center;
	width:280px;
	margin-left:20px;
	margin-right:20px;
	background: none repeat scroll 0% 0% rgba(10,10,10,0.4);
}

.type_chooser{
	text-align: center;
}

.type_settings{
	display:none;
}

.texture_type{
	border: 1px solid;
	border-radius: 2px;
	border-color: #333;
}

.texture_type_selected{
	border: 1px solid;
	border-radius: 2px;
}

.option_settings_head{
	padding-top: 20px;
	height :50px;
	text-align: center;
}

.suboption_settings {
	padding-top: 10px;
	margin-left: 20px;
	font-size: 12px;
	text-align: right;

}

.colorpicker{
	width:30px;
	height:30px;
	border: 1px solid;
	margin-left: 5px;
	text-align: center;
}
